.container {
    text-align: center;
}


.token_div>textarea {
    text-align: center;
    width: 90%;
    height: 300px;
    border: none;
    text-align: left;
    resize: none;
    border-radius: 10px;
    border: 1px solid black;
}
