body {
    background-color: #f8f9fa;
}

* {
    touch-action: manipulation;
}

.container {
    text-align: center;
}


.token_div>textarea {
    padding: 30px;
    text-align: center;
    width: 90%;
    height: 300px;
    border: none;
    resize: none;
    border-radius: 10px;
    border: 1px solid black;
}